In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('taxi.csv')
data.head(5)

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [3]:
data.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [4]:
X= data.drop(columns=['Numberofweeklyriders'],axis=1)
y= data['Numberofweeklyriders']

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [18]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
print('Training Score', model.score(X_train, y_train))

Training Score 0.934798170718289

In [19]:
y_pred = model.predict(X_test)
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'R2: {r2}')

MAE: 5547.198869878965
MSE: 42664167.24140131
R2: 0.9409524357457492

In [20]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

In [21]:
model1 = pickle.load(open('model.pkl', 'rb'))

In [24]:
print(int(model1.predict([[63,1610000,16200,200]])))

154230

d:\DataScienceLearning\UberMachineLearningApp\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Venkateshwaran\AppData\Local\Temp\ipykernel_16216\3681260525.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(int(model1.predict([[63,1610000,16200,200]])))